* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.display {
    display: flex;
    justify-content: center;
}

.content-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    min-width: 100px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    border: 1px solid lightgray;
}
input.error {
    border: 1px solid red;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 15px 20px;
}

.content-table tr {
    background-color: white;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type,
.content-table thead tr {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

td input {
    width: 75px;
    padding: 5px;
    border-radius: 5px;
}

td select {
    width: 100px;
    height: 30px;
}

#cols {
    padding: 15px 25px;
    text-align: right;
    font-weight: bold;
}

#btn-submit {
    background-color: #009879;
    color: white;
    padding: 15px;
    font-size: 15pt;
    margin-right: 15px;
    border: none;
}

#btn-clear {
    background-color: #009879;
    color: white;
    padding: 15px 20px;
    font-size: 15pt;
    border: none;
}

.btn-btn-align {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#change-bg {
    background-color: #009879;
    color: white;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #009879;
    color: white;
    overflow: hidden;
    padding: 12px 10px;
    font-size: 15px;
}

.output {
    font-size: 12pt;
}

td:first-child {
    font-size: 12pt;
}
